<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Registration</title>
	<link rel="icon" type="image/png" th:href="@{/img/favicon.ico}"/>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet"/> 
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/vendor/devicons/css/devicons.min.css}" rel="stylesheet"/>
    <link th:href="@{/vendor/simple-line-icons/css/simple-line-icons.css}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <!-- <link th:href="@{/css/resume.min.css}" rel="stylesheet"/> -->

  </head>

<body>
<div class="container">
    <div class="row">
    	<div class="col-md-4 offset-md-4">
    		<h1 th:text="#{label.form.title}">form</h1>
    	</div>
    </div>
    <div class="row">
    	<div class="col-md-8 offset-md-2">
		    <form action="/user/registration" th:object="${user}" method="POST" enctype="utf8">
			    <div class="form-group">
			        <label for="firstName" th:text="#{label.user.firstName}">first</label>
			        <input id="firstName" class="form-control" th:field="*{firstName}" placeholder="Enter first name"/>
			        <small class="form-text text-danger" th:each="error: ${#fields.errors('firstName')}"
			          th:text="${error}">Validation error</small>
			    </div>
			    <div class="form-group">
			        <label for="lastName" th:text="#{label.user.lastName}">last</label>
			        <input id="lastName" class="form-control" th:field="*{lastName}" placeholder="Enter last name"/>
			        <small class="form-text text-danger" th:each="error : ${#fields.errors('lastName')}"
			          th:text="${error}">Validation error</small>
			    </div>
			    <div class="form-group">
			        <label for="email" th:text="#{label.user.email}">email</label>
			        <input id="email" class="form-control" type="email" th:field="*{email}" placeholder="Enter valid email"/>
			        <small class="form-text text-danger" th:each="error : ${#fields.errors('email')}"
			          th:text="${error}">Validation error</small>
			    </div>
			    <div class="form-group">
			        <label for="password" th:text="#{label.user.password}">password</label>
			        <input id="password" class="form-control" type="password" th:field="*{password}" placeholder="Enter password"/>
			        <small class="form-text text-danger" th:each="error : ${#fields.errors('password')}"
			          th:text="${error}">Validation error</small>
			    </div>
			    <div class="form-group">
			        <label for="cPass" th:text="#{label.user.confirmPass}">confirm</label>
			        <input id="cPass" class="form-control" type="password" th:field="*{matchingPassword}" placeholder="Retype Password"/>
			    	<small class="form-text text-danger" th:each="error : ${#fields.errors('matchingPassword')}"
			          th:text="${error}">Validation error</small>
			    </div>
			    <button type="submit" th:text="#{label.form.submit}">submit</button>
			</form>
    	</div>
    </div>
    
</div>



 
<a th:href="@{/login.html}" th:text="#{label.form.loginLink}">login</a>

</body>
</html>